<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cstring" connectionString="Data Source=HCLPC\SQLEXPRESS;          Initial Catalog=NetSE; MultipleActiveResultSets=True;          User ID=seven;Integrated Security=TRUE" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>