<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cstring" connectionString="Data Source=dg-montazh2\SQLEXPRESS;          Initial Catalog=NetSE; MultipleActiveResultSets=True;          User ID=topmedia\elvinmuca;Integrated Security=TRUE" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>